{% extends "_global/index.html" %}

{% block main %}

	<div>
		  <div class="options">
        <a href="{{ BASE }}user/auctions">List all auctions</a>
      </div>

    <form class="auctions-form" method="post" enctype="multipart/form-data">

      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" class="form-control" required value="{{ auction.title }}">
      </div>

      <div class="form-group">
        <label for="description">Description:</label>
        <textarea id="description" name="description" required class="form-control" rows="5">{{ auction.description }}</textarea>
      </div>

      <div class="form-group">
        <label for="starting_price">Starting price:</label>
        <input type="number" name="starting_price" id="starting_price" class="form-control" min="0.01" step="0.01" required value="{{ auction.starting_price }}">
      </div>

      <div class="form-group">
        <label for="starts_at">Starts at:</label>
        <input type="datetime-local" name="starts_at" id="starts_at" class="form-control" required value="{{ auction.starts_at }}">
      </div>

      <div class="form-group">
        <label for="ends_at">Ends at:</label>
        <input type="datetime-local" name="ends_at" id="ends_at" class="form-control" required value="{{ auction.ends_at }}">
      </div>


      <div class="form-group">
        <label for="category_id">Auction category:</label>
        <select class="form-control" name="category_id" id="category_id">
            {% for category in categories %}

          <option value="{{ category.category_id }}" {% if auction.category_id == category.category_id %}selected{% endif %}>
            {{ category.name }}
          </option>

            {% endfor %}
          
        </select>
      </div>

      <div class="form-group">
        <label for="image">Image:</label>
        <input type="file" name="image" id="image" class="form-control" accept="image/jpeg">
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">
          <i class="fa fa-pencil"></i>
            Edit Auction
        </button>
      </div>
    </form>
	</div>
{% endblock %}
