{% extends "_global/index.html" %}

{% block main %}
<form action="{{ BASE }}user/login" method="POST">

  <div class="form-group">
      <label for="input_username">Username:</label>
      <input type="text" class="form-control" name="login_username" id="input_username" required placeholder="Unesite svoje korisnicko ime u ovo polje.">
  </div>

  <div class="form-group">
      <label for="input_password">Password:</label>
      <input type="password" class="form-control" name="login_password" id="input_password_1" required placeholder="Unesite svoju sifru u ovo polje.">
  </div>

  <div class="form-group">
      <button type="submit" class="btn btn-success">
            Login
      </button>
  </div>

</form>
{% endblock %}
