{% extends "_global/index.html" %}

{% block main %}
<div class="row">
<form action="{{ BASE }}user/register" method="POST" class=" col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3">
  <div class="card">
  <div class="card-header">
    User Registration
  </div>
 <div class="card-body">
  <div class="form-group">
      <label for="input_email">E-mail:</label>
      <input type="email" class="form-control" name="reg_email" id="input_email" required placeholder="Unesite svoju adresu e-poste u ovo polje.">
  </div>

  <div class="form-group">
      <label for="input_fname">Firstname:</label>
      <input type="text" class="form-control" name="reg_fname" id="input_fname" required placeholder="Unesite svoje ime u ovo polje.">
  </div>

  <div class="form-group">
      <label for="input_lname">Lastname:</label>
      <input type="text" class="form-control" name="reg_lname" id="input_lname" required placeholder="Unesite svoje prezime u ovo polje.">
  </div>

  <div class="form-group">
      <label for="input_username">Username:</label>
      <input type="text" class="form-control" name="reg_username" id="input_username" required placeholder="Unesite svoje korisnicko ime u ovo polje.">
  </div>

  <div class="form-group">
      <label for="input_password_1">Password:</label>
      <input type="password" class="form-control" name="reg_password_1" id="input_password_1" required placeholder="Unesite svoju sifru u ovo polje.">
  </div>

  <div class="form-group">
      <label for="input_password_2">Repeat your password:</label>
      <input type="password" class="form-control" name="reg_password_2" id="input_password_2" required placeholder="Ponovite svoju sifru.">
  </div>

</div>

  <div class="card-footer">
      <button type="submit" class="btn btn-primary">
            Register
      </button>
    </div>
  </div>

</form>
</div>
{% endblock %}
