/* * {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

body {
	width: 900px;
	margin: 0 auto;
}

.site-header {
	display: grid;
	grid-template-areas: "banner social"
						 					 "banner search"
						 				 	 "menu   menu  ";
}

.banners {
	grid-area: banner;
	background-color: white;

}

#auc {

	width: 250px;
	height: 100px;
}

.social-icons {
	grid-area: social;
	text-align: right;
}

.social-icons img {

	width: 30px;
	height: 30px;
	margin: 5px 5px;
}

.search-box {
	grid-area: search;
	text-align: right;

}

#main-menu {

	margin: 20px 0px;

	grid-area: menu;
}

#main-menu > ul {

	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	align-content: stretch;
}

#main-menu > ul > li {

	flex-grow: 1;
	text-align: center;

}

#main-menu > ul > li:hover {

	background: rgba(200, 200, 200, 0.3);
}

#main-menu > ul > li > a {

	text-decoration: none;
	display: block;
	padding:10px 0px;
	color:black;
}

.categories {

	display: flex;
	flex-direction: row;
	align-content: stretch;
	flex-wrap: wrap;
}

.category {

	width: 50%;
	text-align: center;
	padding: 50px 100px;
	border: 1px solid #ccc;
	background: rgba(200, 200, 200, 0,2);
	text-decoration: none;
	color:black;
}

.category:hover {
	border: 1px solid #000;
	background: rgba(200, 200, 200, 0.6);

}
.site-footer {

	text-align: center;
	margin-top: 40px;
}

.auction {

	display:grid;
	grid-template-areas: "big-image big-image small-image-1 title title title"
						 "big-image big-image small-image-2 date1 date2 price ";
	border-bottom: 1px solid #444;
	margin-bottom: 5px;
	padding-bottom: 5px;
	grid-template-columns: 130px 0px 100px auto;

}

.auction > .auction-title {
	grid-area: title;
}
.auction > .auction-date1 {
	grid-area: date1;
	text-align: center;

}
.auction > .auction-date2{

	grid-area: date2;
	text-align: center;
}
.auction > .auction-price {
	grid-area: price;
	text-align: right;

}
.auction-big-image{
	grid-area: big-image;
	height: 140px;
	width: 120px;

}
.auction > .image-1 {
	grid-area: small-image-1;
	width: 80px;
	height: 62px;

}
.auction > .image-2 {
	grid-area: small-image-2;
	width: 80px;
	height: 62px;

}

.bookmarks {

	display: block;
	padding: 10px;
	position: fixed;
	top: 50px;
	right: 0px;
	border: 1px solid black;
	background: #fefefe;
	margin-right: 5px;
} */

.auction {
	border-bottom: 1px solid #444;
	padding: 10px 0px;
}

.auc-img {

	width: 600px;
	height: 344px;
	margin-top: -50px;
	
}

.social-icons {
margin-bottom: 5px;
margin-top: 5px;

}

.social-icons a i.fa {
/*	# color: red; */
	font-size: 20pt;
	display: inline-block;
	margin: 5px;
}


#auc {
	height: 100px;
	width: 200px;

}

.category {
	padding: 30px 0px;
	margin: 5px 0px;
}

.bookmarks {

	margin: 10px 0px;
}

.width-100-percent {
	width: 100%;
	height: 110px;


}

