{% extends "_global/index.html" %}

{% block main %}

	<div>
		  <div class="options">
        <a href="{{ BASE }}user/categories">List all categories</a>
      </div>

    <form class="category-form" method="post">
      <div>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required>
      </div>

      <div>
        <button type="submit">
            Add category
        </button>
      </div>
    </form>
	</div>
{% endblock %}
