<!DOCTYPE html>
<html>
<head>
	<title>Ta&amp;Ta - {% block naslov %}Pocetna{% endblock %}</title>
	<meta charset="utf-8">

	<link rel="stylesheet" type="text/css" href="{{ BASE }}assets/libs/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{ BASE }}assets/libs/font-awesome/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="{{ BASE }}assets/css/main.css">

</head>
<body>
	<div class="container">
		<header>
			<div class="row">
					<div class="col col-sm">
						<a href="{{ BASE }}">
							<img src="{{ BASE }}assets/img/auc.png" alt="Banner 1" id="auc">
						</a>
					</div>
					<div class="col col-sm">
							<div class="social-icons text-right">
								<a href=""><i class="fa fa-facebook-official"></i></a>
								<a href=""><i class="fa fa-linkedin"></i></a>
								<a href=""><i class="fa fa-twitter"></i></a>
								<a href=""><i class="fa fa-youtube"></i></a>
								<a href=""><i class="fa fa-instagram"></i></a>
							</div>
							<div class="search-box">
								<form method="post" action="{{ BASE }}search">
									<div class="form-group">
											<div class="input-group">
												<input type="text" class="form-control" name="q" placeholder="Kljucne reci pretrage" required pattern="[^\s]{2,}">
												<button type="submit" class="btn btn-primary input-group-append"><i class="fa fa-search"></i></button>
										 </div>
									</div>
								</form>
							</div>
			   	</div>
			 </div>

		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
			    	<div class="navbar-nav">
								<li><a class="nav-item nav-link active" href="{{ BASE }}">Home &nbsp;<i class="fa fa-home">|</i></a>
								<li><a class="nav-item nav-link active" href="{{ BASE }}categories">Categories&nbsp;<i class="fa fa-list">|</i></a>
								<li><a class="nav-item nav-link active" href="{{ BASE }}profile">Profile&nbsp;<i class="fa fa-user">|</i></a>
								<li><a class="nav-item nav-link active" href="{{ BASE }}contact">Contact&nbsp;<i class="fa fa-phone">|</i></a>
								<li><a class="nav-item nav-link active" href="{{ BASE }}log-out">Logout&nbsp;<i class="fa fa-sign-out">|</i></a>
			    	</div>
			  </div>
		</nav>
	</header>
	<main>
		{% block main %}
		{% endblock %}
	</main>
		<div class="card">
				<div class="bookmarks card-body">
					Loading bookmars...
				</div>
		</div>



	<footer class="text-center">
		&copy; 2018 - Aukcijska kuca <a href="#">Ta and Ta</a>
	</footer>
	</div>
	<script>	const BASE = '{{ BASE }}';</script>
	<script src="{{ BASE }}assets/js/bookmark.js"></script>
</body>
</html>
