{% extends "_global/index.html" %}

{% block main %}
	<ul>
		{% for auction in auctions %}

			<li class="auction">
			   <a href="{{ BASE }}auction/{{ auction.auction_id }}" class="auction-title">
			   	{{ auction.title|escape }}
			   </a>
			   <span class="auction-date1">{{ auction.starts_at|escape }}</span>
			   <span class="auction-date2">{{ auction.ends_at|escape }}</span>
			   <span class="auction-price">{{ auction.starting_price|escape }} &euro;</span>

			   <a href="{{ BASE }}auction/{{ auction.auction_id }}" class="auction-big-image">
			   <img src="{{ BASE }}assets/img/{{ auction.auction_id }}.jpg" alt="Velika slika - {{ auction.auction_id }}" class="auction-big-image">
			   </a>

			  <!-- <img src="/praktikum/images/mona.jpg" alt="Mala slika 1 - {{ auction.auction_id }}" class="auction-small-image image-1">
			   <img src="/praktikum/images/rafael.jpg" alt="Mala slika 2 - {{ auction.auction_id }}" class="auction-small-image image-2"> -->



		{% endfor %}
	</ul>

{% endblock %}

{% block naslov %}
Rezultati pretrage:
{% endblock %}
