{% extends "_global/index.html" %}

{% block main %}

<div class="container">
	<a href="#" onclick="addBookmark({{ auction.auction_id }});">Add to Bookmark</a>

	
			<h1>{{ auction.title|escape }}</h1>
		

			<img src="{{ BASE }}assets/img/{{ auction.auction_id }}.jpg" alt="Velika slika - {{ auction.auction_id }}" class="auc-img float-right">


	
	<p>{{ auction.description }} </p>
	<p>Trenutna cena: {{ lastOfferPrice }} EUR </p>
	<p>Datum Pocetka: {{ auction.starts_at|date('d. m. Y') }} </p>
	<p>Datum Zavrsetka: {{ auction.ends_at|date('d. m. Y') }} </p>

	</div>
{% endblock %}

{% block naslov %}
{{ auction.title|escape }}
{% endblock %}
